:root {
    --bg-color: ;
    --fg-color: ;
    --link-color: #010756;
}

body {
    margin: 0;
    background-color: #ebebff;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #C1BEF5;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

nav a {
    text-decoration: none;
}

.user-forms-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}