:root {
    --bg-color: ;
    --fg-color: ;
    --link-color: #010756;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #C1BEF5;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}