:root {
    --main-color1: #A22F2D;
    --fg-color: ;
    --link-color: #FFFFFF;
    --link-color2: #FFE08B;
    --link-color3: #ce4c14;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: var(--main-color1);
}

nav a {
    color: var(--link-color2);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--link-color);
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--link-color);
}

nav ul li a:hover {
    color: var(--link-color2);
}

.active {
    color: var(--link-color2);
}


nav ul form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

a {
    text-decoration: underline;
    color: var(--link-color3);
}

nav a {
    text-decoration: none;
}

.user-forms-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.user-forms-cont div {
    background-color: white;
    border: #7b7b7b 2px solid;
    border-radius: 5px;
    padding: 20px;
}

.user-forms-cont textarea {
    max-width: 159px;
    min-width: 159px;
    min-height: 100px;
}

.boardgame-showcase-cont {
    padding: 50px;
}

.boardgame-card-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px #dcdee1 solid;
    border-radius: 10px;

    width: 210px;
    padding: 10px;
}

.boardgame-card-cont img {
    max-width: 150px;
    height: 100px;
    border-radius: 5px;
}