<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - IBDb</title>
</head>

<body>
    <nav>
        <h1>Internet Boardgame Database</h1>
        <ul>
            <li><a class="active" href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
        </ul>
    </nav>
    <main>
        {% if bg_info %}
        {% for i in bg_info %}
        <div class="bg-info-cont">
            <p class="bg-name-txt">{{ i[0] }} ({{ i[1] }})</p><br>
            <p class="bg-publisher-txt">{{ i[2] }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>Looks empty here...</p>
        {% endif %}
    </main>
</body>

</html>