<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - IBDb</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <h1>Internet Boardgame Database</h1>
        </a>
        <ul>
            <li><a class="active" href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <!-- Lenke vises bare ved riktig rolle (admin/editor) -->
            {% if session.get("role_id") in (1, 2) %}
            <li><a href="{{ url_for('register_boardgame') }}">Register Boardgame</a></li>
            {% endif %}
            {% if session.get("username") or session.get("role_id") %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <!-- Om du har logget inn og kommer fra login-siden kjører denne -->
        {% if login_message %}
        <p style="color: green;">{{ login_message }}</p>
        {% endif %}

        <!-- Koden under er tatt fra flask sin nettside med dokumentasjon -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Viser alle brettspill fra db her på forsiden -->
        {% if bg_info %}
        {% for i in bg_info %}
        <div class="bg-info-cont">
            <p class="bg-name-txt">{{ i[0] }} ({{ i[1] }})</p><br>
            <p class="bg-publisher-txt">{{ i[2] }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>Looks empty here...</p>
        {% endif %}
    </main>
</body>

</html>